/* ---------------------------------------------------
   General Page Styling
--------------------------------------------------- */

/* Apply inner margin, background color, and font color */
html {
    padding: 50px;
    background-color: #e8eae8;
    color: #5d665b;
}

/* Body margins */
body {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 120px;
    margin-right: 50px;
}

/* Font family and size */
body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
    line-height: 180%;
}

/* ---------------------------------------------------
   Headings and Paragraphs
--------------------------------------------------- */

/* h1 styling */
h1 {
    color: #ffffdd;
}

/* h2 styling */
h2 {
    color: #966b72;
    font-family: Georgia, serif;
}

/* First h2 and first p have relative font sizes */
h2:first-of-type {
    font-size: 75%;
}

p:first-of-type {
    font-size: 70%;
}

/* Second paragraph indentation */
p:nth-of-type(2) {
    text-indent: 3em;
}
